<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3647AF9A1B335D5500EF10D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3647AFA41B335D5500EF10D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3690A07A1B33AA3B00731222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3690A0831B33AA3C00731222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
